asgiref==3.11.1
Django==6.0.5
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
mysqlclient==2.2.8
PyJWT==2.9.0
PyMySQL==1.1.1
python-dotenv==1.2.2
sqlparse==0.5.5
reportlab==4.4.1
tzdata==2026.2